body {
    font-family: 'Vazirmatn', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vazirmatn", sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    border-bottom: 1px solid #e5e7eb;
    z-index: 50;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logoImg {
    width: 32px;
    height: 32px;
}

.logoText {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.highlight {
    color: #ef4444;
}


.navLinks {
    display: none;
    gap: 30px;
}

.navLink {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navLink::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ef4444;
    transition: width 0.3s ease;
}

.navLink:hover {
    color: #ef4444;
}

.navLink:hover::after {
    width: 100%;
}

.active {
    color: #ef4444;
}

.active::after {
    width: 100%;
}


.loginContainer {
    display: none;
}

.loginBtn {
    padding: 8px 16px;
    border: 1px solid #ef4444;
    color: white;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-left: 16px;
}

.loginBtn:hover {
    background-color: #ef4444;
}


.menuToggle {
    background: none;
    border: none;
    color: #374151;
    cursor: pointer;
    display: block;
}


.mobileMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-top: 1px solid #e5e7eb;
    padding: 16px;
    gap: 16px;
}

.mobileLink {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: color 0.3s ease;
}

.mobileLink:hover {
    color: #ef4444;
}

.mobileLoginBtn {
    text-align: center;
    padding: 8px 16px;
    border: 1px solid #ef4444;
    color: #ef4444;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-left: 16px;
}

.mobileLoginBtn:hover {
    background-color: #fff5f5;
}


@media (min-width: 768px) {
    .navLinks {
        display: flex;
    }

    .loginContainer {
        display: block;
    }

    .menuToggle {
        display: none;
    }

    .mobileMenu {
        display: none;
    }
}